@charset "UTF-8";
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

img {
  vertical-align: bottom;
}

a {
  display: inline-block;
}

body {
  font-family: Lato,
}

.font-raleway {
  font-family: Raleway;
}

.header {
  width: 100%;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.icon-box {
  display: flex;
  justify-content: space-between;
}

.is-bolt {
  color: gray;
}

.header__button {
  background-color: #74cfae;
  color: #fff;
  transition-duration: 0.3s;
  cursor: pointer;
}

.header__button:hover {
  color: #333;
}

.header__button__text {
  text-align: center;
  padding: 14px 12px;
  line-height: 12px;
}

.nav-drawer {
  display: none;
}

.main {
  padding-top: 80px;
}

.title {
  background-color: #f2f2f2;
}

.title-inner {
  padding: 250px 0;
}

.title__text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.title__subtext {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top:  20px;
}

.function {
  background-color:#74cfae;
}

.function-inner {
  padding-top: 50px;
  display: flex;
}

.function__figure {
  width: auto;
}

.function__box {
  text-align: center;
  margin-left: 50px;
}

.function__title {
  font-size: 24px;
  color: #fff;
}

.function__text {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  line-height: 30px;
}

.work {
  background-color: #f2f2f2;
} 

.work-inner {
  padding: 60px 0 70px 0;
}

.work__title {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.work__figure-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.work__figure-item {
  margin-left: 100px;
  opacity: 0.7;
  transition-duration: 0.3s;
}

.work__figure-item:hover {
  opacity: 1;
}

.work__figure-item:nth-child(3n+1) {
  margin-left: 0;
}

.work__figure-item:nth-child(n+4) {
  margin-top: 80px;
}

.work__box {
  margin: 90px auto 0 auto;
  padding: 0 80px 0 80px;
  display: flex;
}

.work__box__text {
  text-align: center;
  color: #333;
  line-height: 24px;
}

.work__box__button {
  padding: 14px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  line-height: initial;
  background-color: #74cfae;
  color: #fff;
  margin-left: 90px;
  transition-duration: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

.work__box__button:hover {
  color: #333;
}

.skill {
  background-color: #4e4e4e;
}

.skill-inner {
  padding: 70px 0 100px 0;
}

.skill__text {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.skill-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skill-item {
  margin-left: 180px;
}

.skill-item:first-child {
  margin-left: 0;
}

.skill-item__text {
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.nav {
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0;
  vertical-align: middle;
}

.nav-box {
  display: flex;
}

.nav-item {
  width: 25%;
  padding: 50px 0;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item:hover {
  background-color: #fff;
}

.nav-icon {
  color:  #74cfae;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer__text {
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 1099px) {
  .inner {
    width: 97%;
  }

  .nav-drawer {
    display: none;
  }
  
  .function-inner {
    padding-bottom: 25px;
    display: block;
  }
  
  .function__figure {
    display: block;
    margin: 0 auto;
  }
  
  .function__box {
    margin: 0 auto;
  }

  .function__title {
    margin-top: 20px;
  }

  .function__text {
    margin-top: 35px;
  }

  .work__figure-box {
    flex-direction: column;
    text-align: center;
  }

  .work__figure-item {
    margin: 0 auto;
    max-width: 300px;
  }
  
  .work__figure-item:nth-child(n+4) {
    margin-top: 0;
  }

  .work__figure-item:nth-child(3n+1) {
    margin: 80px auto 0 auto;
  }

  .work__figure-item:first-child {
    margin-top: 0;
  }

  .work__box {
    display: block;
    margin-top: 80px;
    padding: 0;
    text-align: center;
  }
  
  .work__box__button {
    margin: 40px 0 0 0;
  }
  
  .skill-inner {
    text-align: center;
  }
  
  .skill-box {
    display: block;
  }

  .skill-item {
    margin: 88px 0 0 0;
  }
  
  .skill-item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .nav-drawer {
    display: block;
  }

  .header__button,
  .header__button__text {
    display: none;
  }
  
  .nav-drawer {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;
    height: 46px;
  }

  .nav__line {
    width: 50px;
    height: 2px;
    background-color: #ddd;
    display: block;
    content: '';
    border-radius: 4px;
  }
  
  .nav__line:nth-child(2){
    transform: translateY(10px);
  }

  .nav__line:last-child {
    transform: translateY(20px);
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .title__text {
    font-size: 80px;
  }

  .nav-inner {
    padding: 50px 0 50px 0;
  }
  
  .nav-box {
    display: block;
  }
  
  .nav-item {
    width: 100%;
  }
}



